@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.list-item {
  background-image: url("../../img/placeholders/restaurant.png");
  background-size: cover;
  min-height: 170px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 0px var(--shadow);
  cursor:pointer;
  filter: var(--image-filter);
}

.list-item:active {
  position:relative;
	top:1px;
}

.list-item__info {
  color: var(--font-color);
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  height: 40%;
  background-color: var(--background-secondary);
  border-radius: 0 0 10px 10px;
  width: 100%;
  filter: none;
  font-weight: var(--font-weight);
}

.list-item__name,.list-item__address {
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.list-item__address {
  font-size: smaller;
}

.babysitting.list-item{
  background-image: url("../../img/placeholders/babysitting.png");
}

.cafe.list-item{
  background-image: url("../../img/placeholders/cafe.png");
}

.restaurant.list-item{
  background-image: url("../../img/placeholders/restaurant.png");
}

.outdoors.list-item{
  background-image: url("../../img/placeholders/outdoors.png");
}

.other.list-item{
  background-image: url("../../img/placeholders/other.png");
}

.playroom.list-item{
  background-image: url("../../img/placeholders/playroom.png");
}