.wrapper-ws {
  position: relative;
  cursor:pointer;

}

.view-switch {
  position: absolute;
  top: 80px;
  right: 30px;
  display: flex;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 40px;
  z-index: 1;
  margin: auto;
  justify-content: center;
  background-color: var(--background-primary);
  box-shadow: 2px 2px 2px 0px var(--shadow);
}

.view-switch:hover{
  background-color: #dddddd;
}

.view-switch:active{
  background-color: var(--shadow);
}

.view-switch img {
  height: 24px;
  aspect-ratio: 1/1;
  align-self: center;
  filter: var(--filter)
}

@media (min-width: 768px) {
.view-switch{
  display: none;
}
}