@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

* {
  box-sizing: border-box;
}

.container {
display: flex;
flex-direction: column;
}

.map {
  display: none;
}

.list-view-mobile-hidden .map  {
  display: flex;
}

.list-view-mobile-hidden .list  {
display: none;
}

.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

@media (min-width: 768px) {

.container {
  display: flex;
  flex-direction: row;
}

.container .map {
  display: flex;
}

.container .list{
  display: flex;
}

.sidebar {
  overflow-y: scroll;
}
}
