@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

* {
  box-sizing: border-box;
}

.container {
display: flex;
flex-direction: column;
height: 100vh;
}

.map {
display: none;
}

.list-view-mobile-hidden .map  {
display: flex;
}

.list-view-mobile-hidden .list  {
display: none;
}

.sidebar{
  display: flex;
  flex-direction: column;
}

.purple {
  filter: invert(57%) sepia(100%) saturate(7499%) hue-rotate(260deg) brightness(90%) contrast(102%);
} 

@media (min-width: 768px) {

.container {
  display: flex;
  flex-direction: row;
}

.container .map {
  display: flex;
}

.container .list{
  display: flex;
}

.sidebar {
  overflow-y: scroll;
  width: 450px;
}
}
