:root {
  --gradient-colors: #FFFFFF, #E5E5E5;
  --font-color: black;
  --background-secondary: #FFFFFF;
  --marker: #7C2AE8;
  --accent: #00C4CC;
}
[data-theme='dark'] {
  --gradient-colors: black, #2B0163;
  --font-color: white;
  --background-secondary: #545454;
  --marker: #FFFFFF;
  --accent: #00C4CC;
}


#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
