.map {
  width: 100vw;
  height: 100vh;
	overflow: hidden;
}

.marker-button {
	padding: 0;
	border: none;
	background-color: transparent;
	display: flex;
	outline: none;
	cursor: pointer;
}


.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
	text-align: center;
	min-width: 150px;
}

.address {
  font-size: 0.7rem;
  margin-bottom: 5px;
	margin-left: 30px;
	margin-right: 30px;

}

.place-name {
  font-family: "Amaranth", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.category-name {	
 color: white;
 background-color: #7C2AE8;
 border-radius: 10px;
 width: fit-content;
 height: auto;
 padding: 3px 5px 3px 5px;
 font-size: smaller;
 margin: auto;
 margin-bottom: 20px;
}

.equipment {
	font-size: 0.7rem;
	margin-bottom: 3px;
}

.popup .babysitting{
  background-image: url("../../img/placeholders/babysitting.png");
	background-size: cover;
	width: 100%;
	aspect-ratio: 5 / 2;
	margin-bottom: 5px;
}

.popup .cafe{
  background-image: url("../../img/placeholders/cafe.png");
	background-size: cover;
	width: 100%;
	aspect-ratio: 5 / 2;
	margin-bottom: 5px;
}

.popup .restaurant{
  background-image: url("../../img/placeholders/restaurant.png");
	background-size: cover;
	width: 100%;
	aspect-ratio: 5 / 2;
	margin-bottom: 5px;
}

.popup .outdoors{
  background-image: url("../../img/placeholders/outdoors.png");
	background-size: cover;
	width: 100%;
	aspect-ratio: 5 / 2;
	margin-bottom: 5px;
}

.popup .other{
  background-image: url("../../img/placeholders/other.png");
	background-size: cover;
	width: 100%;
	aspect-ratio: 5 / 2;
	margin-bottom: 5px;
}

.popup .playroom{
  background-image: url("../../img/placeholders/playroom.png");
	background-size: cover;
	width: 100%;
	aspect-ratio: 5 / 2;
	margin-bottom: 5px;
}

.social-link{
	margin-top: 10px;
}

.mapboxgl-popup-close-button {
	display:none;
}

.instagram {
	position: absolute;
	bottom: 40px;
	left: 20px;
	font-size: small;
	text-align: center;
	background-color: white;
	opacity: 0.7;
	border-radius: 10px;
	padding: 10px;
	font-weight: bold;
}

a:link{
text-decoration: none;
color: black;
}

a:visited{
	color: black;
}

.instagram img{
	margin: 10px;
}

@media (min-width: 768px) {

.map {
	flex: 1;
  height: 100vh;
	overflow: hidden;
}

.popup {
	min-width: 350px;
}

}